* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}

.btn {
  border-radius: 40px;
  width: 100px;
  padding: 14px;
}

.hero__cars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border {
  display: flex;
  justify-content: space-between;
  background: red;
  padding: 12px;
  border-radius: 12px;
}

.ol {
  border-right: 1px solid black;
  display: flex;
  justify-content: space-between;
}
